# MT6835 Platform Init Script
# Copyright (C) 2024 The Android Open Source Project
# SPDX-License-Identifier: Apache-2.0

on init
    # Mount points
    mkdir /mnt/vendor/nvcfg 0771 system system

on post-fs
    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

on post-fs-data
    # Camera
    mkdir /data/vendor/camera 0770 system camera

    # Sensors
    mkdir /data/vendor/sensor 0770 system system

    # Thermal
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/tscpu 0771 system system

on boot
    # Power
    chown system system /sys/devices/platform/mtk-mmdvfs/min_clock
    chown system system /sys/devices/platform/mtk-mmdvfs/force_step
    
    # Touchscreen
    chmod 0660 /dev/touch
    chown system input /dev/touch
    
    # Fingerprint
    chmod 0666 /dev/goodix_fp

# MediaTek services - handled by individual RC files in /vendor/etc/init/
