service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    task_profiles ServiceCapacityLow

on boot
chown system system /dev/silead_fp
chmod 0660 /dev/silead_fp
chown system system /dev/silead_stub
chmod 0660 /dev/silead_stub
chmod 0644 /dev/goodix_fp
chown system system /dev/goodix_fp
chmod 0666 /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/irq
chmod 0666 /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/wakeup_enable
chmod 0666 /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/modalias
chmod 0666 /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/clk_enable
chown system system /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/irq
chown system system /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/wakeup_enable
chown system system /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/modalias
chown system system /sys/devices/platform/soc/11011000.spi1/spi_master/spi1/spi1.0/clk_enable

on post-fs-data
mkdir /data/vendor/silead 0770 system system
mkdir /data/vendor/fpc 0777 system system
mkdir /data/vendor/goodix 0777 system system

on property:vendor.fps_hal.restartimes=max
    stop vendor.fps_hal
